* {
    margin: 0;
    padding: 0;
    background-color: #202833;
    font-family: "Courier New", Courier, monospace
}


#titulo {
    gap: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    font-family: "Courier New", Courier, monospace;
    height: 90;
    color: #FFFFFF;
}

.fieldset {
    border: 0;
}


#body {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: "Courier New", Courier, monospace;
    color: #FFFFFF;
    font-size: 1em;
}

form {
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;

}

form div {
    display: flex;
    flex-direction: column;
}

#check {
    display: flex;
    flex-direction: center;
    text-align: column;
    background-color: #202833;
    font-family: "Courier New", Courier, monospace;
    color: #FFFFFF;
    font-size: 1em;
    box-sizing: border-box;
    position: relative;
}


form input,
select,
textarea,
button {
    outline: unset;
    padding: 35px;
    min-width: 400px;
    border: 2px solid #1d242e;
    border-radius: 20px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #FFFFFF;
    display: block
}

fieldset .grupo .campo {
    float: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202833;
    font-family: "Courier New", Courier, monospace;
    color: #FFFFFF;
    font-size: 1em;
}


.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #FFFFFF;
    box-shadow: 2px 2px 2px #202833;
    float: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202833;
    font-family: "Courier New", Courier, monospace;
    color: #FFFFFF;
    font-size: 1em;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background-color: #1d242e;
}

.botao {
    font-size: 1.2em;
    background-color: #202833;
    border: 1 solid #FFF;
    margin-bottom: 10em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    position: absolute;
    cursor: pointer;
    text-align: center;
}

.botao:hover {
    background-color: #202833;
    box-shadow: inset 2px 2px 2px #000;
    text-shadow: none;
}

div {
    margin: 20px;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}